.loginHeader {
    margin: 0 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}


.inAppHeader {
    margin: 0 20px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    z-index: 5;
}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}

.navbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.navbarItem {
    margin-right: 7px;
}

.navProfileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profileName {
    font-size: .9rem;
    font-weight: 700;
}