.secondaryNavbar {
    margin-top: 40px;
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.secondaryNavbarItem {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.secondaryNavbarIcon {
    font-size: 2rem;
    margin-right: 10px;
}

.secondaryNavbarText {
    font-size: 1.8rem;
    font-weight: 600;
}


.topbar {
    margin-top: 20px;
}
  
.topbarNavList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.topbarNavItems {
    margin: 0 20px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(112, 112, 112, 0.912);
    border-bottom: 3px solid #fff;
    cursor: pointer;
}
  
.topbarNavItems.active {
    color: black;
    border-bottom: 3px solid black;
}