.dashboard {
    height: 100vh;
    max-width: 100vw;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.topbar {
    margin-top: 20px;
}
  
.topbarNavList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.topbarNavItems {
    margin: 0 20px;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(112, 112, 112, 0.912);
    border-bottom: 3px solid #fff;
    cursor: pointer;
}
  
.topbarNavItems.active {
    color: black;
    border-bottom: 3px solid black;
}