.headerComponent {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(247, 245, 245, 0.405); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
}

.navbarList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.navbarItem {
    margin-right: 7px;
}

.navProfileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profileName {
    font-size: .9rem;
    font-weight: 700;
}