.overlayBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.172);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.noteWrapper {
    width: 43%;
    /* height: 83%; */
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.385);
    border-radius: 8px;
    box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.21);
    -webkit-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.21);
    -moz-box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.21);
}