.headerWrapper {
    position: relative;
}


.loginHeader {
    margin: 0 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}


.inAppHeader {
    /* margin: 0 20px; */
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    z-index: 5;
}

.logo {
    font-size: 1.4rem;
    font-weight: 800;
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}

.navbarList {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}


.navbarItem {
    margin-right: 7px;
}

.navProfileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profileName {
    font-size: .95rem;
    font-weight: 600;
}

.userDetailsDropdown {
    position: absolute;
    top: 45px;
    right: 6px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 8px;
    transition: .5s;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
    overflow: hidden;
    display: none;
}


.userDetailsDropdown.display {
    display: block;
}

.userDetailsItem {
    min-width: 200px;
    /* min-height: 50px; */
    padding: 15px 15px;
    font-size: .95rem;
    color: #6e6d7a;
    background-color: #fff;
    transition: color 200ms ease;
}

.userDetailsItem:hover {
    background-color: #000;
    color: #fff;
}

.userDetailsItem span {
    font-weight: 600;
}