.searchBox {
    margin-left: 100px;
    width: 25%;
    display: flex;
    border-radius: 10px;
    border: 1px solid #eee;
    background: #eee;
}

.searchBox button {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #767676;
    border: none;
    /* border: 1px solid #d1d1d1; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.searchBox button:hover {
    color: #111;
}

.searchBox input {
    width: 95%;
    height: 40px;
    padding: 10px;
    color: #111;
    border: none;
    outline: none;
    background: transparent;
    border-left: 1px solid #d1d1d1;
}

.searchBox:hover {
    border: 1px solid #d1d1d1;
}

.searchBox:focus-within {
    background: #fff;
    border: 1px solid #d1d1d1;
}